.heading {
  margin-top: 25px;
  text-align: center;
}

.intro {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 35px;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: center;
}
